.home{
    display: grid;
    grid-template-columns: 1fr 35%;
    height: 100vh;
}
/* left display */
.left-display{
    padding: 40px 80px;
    background-color: var(--secondary);
}

/* right display */
.right-display{
    padding: 40px 80px;
    background-color: var(--primary);
}