@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
  --primary: #005C83;
  --secondary: white;

  --borrow: #EE534F;
  --receive: #89CC3E;

  --primary-text: black;
  --secondary-text: white;

  --border1: #D1DBE3;
  --border2: grey;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body{
  overflow: hidden;
}