.lang-parent{
    position: relative;
}
.custom-select{
    display: grid;
    align-items: center;
    grid-template-areas: 'select';
    width: 80px;
    /* height: 50px; */
    padding: 10px 0;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}
.custom-select::after{
    content: '';
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    width: 0.8em;
    height: 0.5em;
    background-color: black;
    justify-self: end;
    transition: transform 0.5s;
}
.selected-opt{
    text-box: trim-both cap alphabetic; /*trim the text so they have the same height*/
}
.selected-opt,
.custom-select::after{
    grid-area: select;
}
.custom-select-active::after{
    transform: rotateX(540deg); /*some goofy ah transition*/
}
.dropdown{
    position: absolute;
    top: -200%;
    list-style: none;
    cursor: pointer;
    width: 80px;
    border:1px solid grey;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s, top 0.3s;
    background-color: white;
}
.dropdown-active{
    opacity: 1;
    pointer-events: all;
    top: -220%;
}
.lang{
    padding: 5px;
}
.lang:hover{
    background-color: grey;
    color: white;
    color:green
}