nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0 80px;
    height: 80px;
}
nav h1 {
    font-family: 'Dancing Script';
    font-size: 32px;
    color: var(--primary);
}
/* right side - add, display mode, profile */
.right {
    display: flex;
    align-items: center;
    gap: 40px;
}
.add-lender {
    border: 2px solid var(--primary);
    width: 105px;
    height: 35px;
    border-radius: 5px;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    color: var(--primary);
}
.add-lender:hover{
    background-color: var(--primary);
    color: var(--secondary-text);
}
.right img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.right img:nth-child(2){
    width: 25px;
    height: 25px;
}