/* popup */
.popup {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

.popup-active {
    opacity: 1;
    pointer-events: all;
}

.popup-content {
    position: absolute;
    width: 600px;
    height: 400px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    display: grid;
    grid-template-rows: 30px 1fr 50px;
    gap: 20px;
    user-select: none;
}

.head {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.head button {
    position: absolute;
    right: 0;
    font-size: 38px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-box: trim-both cap alphabetic;
}

.type {
    display: flex;
    gap: 20px;
}

.type span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inputs input[type='text'], 
.inputs input[type='number'], 
.inputs input[type='date']{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 16px;
    width: 100%;
}
input[type="radio"]{
    appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#borrow:checked{
    border: 1px solid black;
    background: radial-gradient(circle, var(--borrow) 55%, rgba(255, 255, 255, 1) 45%);
}
#receive:checked{
    border: 1px solid black;
    background: radial-gradient(circle, var(--receive) 55%, rgba(255, 255, 255, 1) 50%);
}
.borrow-label, .receive-label{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.borrow-label:hover #borrow,
.receive-label:hover #receive{
    border: 1px solid black;
}

.triangle{
    content: "";
    width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid var(--primary-text);
}

/* borrower names inputs and dropdown */
.borrower-names{
    position: relative;
}
.borrower-names span{
    display: flex;
    position: relative;
    align-items: center;
}

.borrower-names .triangle{
    position: absolute;
    top: 18px;
    right: 10px;
}
.borrower-names ul{
    position: absolute;
    background-color: white;
    list-style: none;
    width: 100%;
    border-radius: 5px;
    border: 2px solid var(--primary);
    top: 40px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}
.borrower-names .borrower-names-ul-active{
    opacity: 1;
    pointer-events: all;
}
.borrower-names ul li{
    padding: 5px 10px;
}
.borrower-names ul li:hover{
    background-color: rgba(0, 0, 0, 0.2);

}

/* submit, update, delete btns */
.add-borrower-btn,
.update-borrower-btn,
.delete-borrower-btn,
.cancel-btn,
.update-btn {
    width: 100px;
    justify-self: center;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--secondary-text);
    padding: 5px;
    height: 45px;
}

.edited{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.update-borrower-btn,
.add-borrower-btn,
.update-btn{
    border: 2px solid var(--primary);
    color: var(--primary);
}
.update-borrower-btn:hover,
.add-borrower-btn:hover,
.update-btn:hover{
    background-color: var(--primary);
    color: var(--secondary-text);
}
.delete-borrower-btn,
.cancel-btn{
    border: 2px solid var(--borrow);
    color: var(--borrow);
}
.delete-borrower-btn:hover,
.cancel-btn:hover{
    background-color: var(--borrow);
    color: var(--secondary-text);
}

/* currency dropdown */
.money {
    position: relative;
    display: flex;
    /* align-items: center; */
    gap: 5px;
    margin-bottom: 20px;
}
.currency{
    display: flex;
    border: 1px solid var(--border2);
    padding: 5px;
    border-radius: 5px;
    position: relative;
}
.currency p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50px;
    gap: 5px;
}
.currency ul{
    list-style: none;
    position: absolute;
    top: 45px;
    right: 0;
    background-color: var(--secondary-text);
    border: 2px solid var(--primary);
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}
.currency .currency-ul-active{
    opacity: 1;
    pointer-events: all;
}
.currency ul li{
    padding: 5px;
}
.currency ul li:hover{
    background-color: var(--border1);
}

.money input {
    width: 80%;
}

#fyi {
    position: absolute;
    bottom: -25px;
    color: var(--border2);
}