/* popup */
.popup {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

.popup-active {
    opacity: 1;
    pointer-events: all;
}

.popup-content {
    position: absolute;
    width: 600px;
    height: 500px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    display: grid;
    grid-template-rows: 30px 1fr 50px;
    gap: 20px;
    user-select: none;
}

.head {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.head button {
    position: absolute;
    right: 0;
    font-size: 20px;
    text-box: trim-both cap alphabetic;
}

.type {
    display: flex;
    gap: 20px;
}

.type span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputs input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

.add-btn {
    width: 100px;
    justify-self: center;
    border: 1px solid black;
    border-radius: 5px;
    font-size: bold;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.add-btn:hover {
    background-color: cornflowerblue;
    color: white;
    border: 1px solid white;
}

/* currency dropdown */
.custom-c-select {
    display: grid;
    align-items: center;
    grid-template-areas: 'select';
    width: 90px;
    height: 100%;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    z-index: 1;
    border: 1px solid grey;
    border-radius: 5px;
}

.custom-c-select::after {
    content: '';
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    width: 0.8em;
    height: 0.5em;
    background-color: black;
    justify-self: end;
}

.selected-opt,
.custom-c-select::after {
    grid-area: select;
}

.money {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.money input {
    width: 80%;
}

#fyi {
    position: absolute;
    bottom: -25px;
    color: grey;
}

.currency-dropdown {
    position: absolute;
    bottom: -170%;
    list-style: none;
    cursor: pointer;
    width: 90px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s, bottom 0.3s, pointer-events 1s;
}

.dropdown-c-active {
    opacity: 1;
    pointer-events: all;
    bottom: -180%;
}

/* hide arrow for input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
}