.profile-dropdown{
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--secondary-text);
    border-radius: 5px;
    border: 1px solid var(--border2);
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: top 500ms, opacity 500ms;
}
.profile-dropdown-active{
    top: 70px;
    opacity: 1;
    pointer-events: all;
}
.profile-dropdown span{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}
.profile-dropdown span:hover{
    background-color: var(--border1);
}
.profile-dropdown span:nth-child(2) svg,
.profile-dropdown span:nth-child(2) p{
    fill: var(--borrow);
    color: var(--borrow);
}