.searchBar{
    display: flex;
    gap: 15px;
    align-items: center;
    position: relative;
}
.searchBar span{
    display: flex;
    width: 100%;
    align-items: center;
    height: 40px;
}
.searchBar input{
    padding: 10px;
    border-radius: 10px 0 0 10px;
    height: 100%;
    border: 1px solid black;
    border-right: none;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    /* outline: 1px solid black; */
}
.searchBar button{
    border-radius: 0 10px 10px 0;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    color: var(--primary);
    border: none;
    border: 2px solid var(--primary);
    border-left: 2px solid var(--primary);
    padding: 0 15px;
    height: 100%;
    cursor: pointer;
}
.searchBar button:hover{
    background-color:  var(--primary);
    color: var(--secondary-text);
}
.searchBar img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    user-select: none;
}
/* search dropdown */
.searchBar ul{
    position: absolute;
    list-style: none;
    background-color: white;
    top: 45px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    overflow: hidden;
    width: 10%;
    opacity: 0;
    pointer-events: none;
}
.searchBar .ul-active{
    opacity: 1;
    pointer-events: all;
}
.searchBar ul li{
    padding: 5px 10px;
}
.searchBar ul li:hover{
    background-color: var(--border1);
}